@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
  padding-left: 10px;
  background-color: rgb(218, 240, 240);
  font-family: Montserrat;
}
button.btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
  }
  
button.btn:hover{
    background-color: #2fb9ae;
    color: white;
  }


button.save{
    width: 400px;  
    height: 150px;
    font-size: 20px;
    border: none;
}

input{
  border: none;
}